In [1]:
#Bibliotecas
import pandas as pd
import openpyxl

In [2]:
#Leitura do Arquivo
df = pd.read_excel(r"\\10\usuarios$\7035\Desktop\Funcional\OK-012023.xlsx")
df.head(3)

,CD_EMPRESA,CD_ARQUIVO,CONTRATO_USUARIO,USUARIO,DEPENDENCIA,CD_PLANO,CD_PRESTADOR_EXECUTOR,TP_REDE,NM_ESPECIALIDADE,DOCUMENTO,...,VL_COPARTICIPACAO,TP_PART_PRESTADOR,CID10,INTER_COSP_TRANSF,PRESTADOR_SOLIC,DT_PAGAMENTO,TP_EVENTO,SERVICO_ORIGINAL,DS_SERV_ORIGINAL,DRG
0,222,5,4429,2223159000126017,1,260,75,1,NaN,10357145,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
1,222,5,5247,2222455001037019,1,257,75,1,NaN,10353541,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN
2,222,5,5247,2222455000951000,0,257,75,1,NaN,10353072,...,65.0,NaN,NaN,N,10018531,15/02/2023,O,10101012,Consulta Em Consultorio (No Horario Normal Ou ...,NaN

In [3]:
# df_variavel = df.loc[df['coluna'] == 'nm_atriburo']  localizar 1 item especifico de uma coluna

# Calcula o total da soma das três colunas
total_despesas = df[['CUSTO_OPERACIONAL', 'FILME', 'HONORARIO_MEDICO']].sum()
total_copp = df[['VL_COPARTICIPACAO']].sum()

# Calcula a soma total dos resultados
soma_total = total_despesas.sum()

# Imprime os resultados formatados como decimais
print("COPARTICIPACAO:", round(total_copp['VL_COPARTICIPACAO'], 2))
print("CUSTO_OPERACIONAL:", round(total_despesas['CUSTO_OPERACIONAL'], 2))
print("FILME:", round(total_despesas['FILME'], 2))
print("HONORARIO_MEDICO:", round(total_despesas['HONORARIO_MEDICO'], 2))
print("TOTAL DESPESAS:", round(soma_total, 2))

COPARTICIPACAO: 683039.94
CUSTO_OPERACIONAL: 4897532.01
FILME: 96082.47
HONORARIO_MEDICO: 8179967.62
TOTAL DESPESAS: 13173582.1